// Apply a natural box layout model to all elements.
// http://paulirish.com/2012/box-sizing-border-box-ftw/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.app {
  font-family: 'San Francisco', 'Avenir', 'Helvetica', sans-serif;
}

body {
  width: 100%;
  height: 100%;
  background-image: url("/bg.jpg");
  webkit-background-size: 100% 100%;           /* Safari 3.0 */
       -moz-background-size: 100% 100%;           /* Gecko 1.9.2 (Firefox 3.6) */
         -o-background-size: 100% 100%;           /* Opera 9.5 */
            background-size: 100% 100%;           /* Gecko 2.0 (Firefox 4.0) and other CSS3-compliant browsers */

    -moz-border-image: url(bg-image.png) 0;    /* Gecko 1.9.1 (Firefox 3.5) */
}

#id-box {
  position: absolute;
  margin: auto;
  top: 0; left: 0; bottom: 50px; right: 0;
  width: 325px;
  height: 67px;
  min-height: 67px;
  background-color: #FFF;
  // margin-top: 10%;
  & > div {
    width: 100%;
  }
}

#select-country-box {
  position: absolute;
  margin: auto;
  padding: 10px;
  top: 0; left: 0; bottom: 50px; right: 0;
  width: 200px;
  height: 350px;
  min-height: 67px;
  background-color: #FFF;
  // margin-top: 10%;
  & > div {
    width: 100%;
  }
}

#table-box {
  position: absolute;
  margin: auto;
  padding: 10px;
  top: 0; left: 0; bottom: 50px; right: 0;
  width: 200px;
  max-height: 800px;
  overflow-y: scroll;
  background-color: #FFF;
  // margin-top: 10%;
  & > div {
    width: 100%;
  }

  & tbody tr {
    height: 24px;
  }
}
